:root {
    --primary: #EA882E;
    --primary80: #EEA058;
    --primary60: #F2B882;
    --primary40: #F7CFAB;
    --primary20: #FBE7D5;

    --black: #808080;
    --black80: #999999;
    --black60: #B3B3B3;
    --black40: #CCCCCC;
    --black20: #E6E6E6;
    --black10: #F3F3F3;

    --secondary: #FFA34D;
    --support: #FFB066;

    --gradient: linear-gradient( to right, var(--primary40), var(--primary80));
}