{% extends 'templates/document.twig' %}
{% import "templates/macros.twig" as macros %}

{% block title %} - Perfil{% endblock %}

{% block body %}
<main>
    <header>
        <a class="navigation" href="{{ url_for('index') }}">
            <i class="material-icons">arrow_back</i>
        </a>
        <figure class="avatar">
            {% set filename = baby.uuid ~ '.png' %}
            {{ macros.avatar(filename) }}
        </figure>
        <a href="{{ url_for('baby.edit',{uuid: baby.uuid}) }}" style="margin-left: auto;">
            <i class="material-icons">edit</i>
        </a>
    </header>
    <section>
        <h1>{{ baby.name }}</h1>
        <p>{{ baby.description }}</p>
        <p>{{ baby.getAge() }}</p>
    </section>

    <ul class="baby-actions">
        <li>Leite</li>
        <li>Sono</li>
        <li>Fralda</li>
        <li>
            <a href="{{ url_for('baby.appointments',{uuid: baby.uuid}) }}">
                Compromissos
            </a>
        </li>
    </ul>
</main>
{% endblock %}

