{% extends 'templates/document.twig' %}
{% import "templates/macros.twig" as macros %}

{% block title %} - Remover{% endblock %}

{% block body %}
<main>
    <header>
        <a class="navigation" href="{{ url_for('baby.edit',{uuid: baby.uuid }) }}">
            <i class="material-icons">arrow_back</i>
        </a>
        <figure class="avatar">
            {% set filename = baby.uuid ~ '.png' %}
            {{ macros.avatar(filename) }}
        </figure>
    </header>
    <section>
        <h2>Remover</h2>
        <form action="{{ url_for('baby.remove',{uuid: baby.uuid }) }}">
            <p>Você tem certeza que deseja remover <b>{{ baby.name }}</b>?</p>
            <div class="form-group">
                <button type="submit" name="action" value="yes">Sim</button>
                <button type="submit" name="action" value="no">Não</button>
            </div>
        </form>
    </section>

</main>

{% endblock %}

