{% extends 'templates/document.twig' %}
{% import "templates/macros.twig" as macros %}

{% block title %}{% endblock %}

{% block body %}
<style>
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        margin: 0;
    }

    header a {
        padding: .5rem;
        display: block;
    }
</style>
<main>
    <header>
        <h1>meubebê</h1>
        <a href="{{ url_for('add') }}">
            <i class="material-icons">add</i>
        </a>
    </header>
    <ul class="baby-collection">
    {% for baby in babies %}
    <li>
        <a href="{{ url_for('baby.dashboard',{uuid: baby.uuid }) }}">
            <figure class="avatar">
                {% set filename = baby.uuid ~ '.png' %}
                {{ macros.avatar(filename) }}
            </figure>
            <span>
                {{ baby.name }}
            </span>
            <small>
                {{ baby.getAge() }}
            </small>
        </a>
    </li>
    {% else%}
    <p>You don't have any babies</p>
    {% endfor %}
    </ul>
</main>

{% endblock %}